    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        background-image: url(assets/9742184.jpg);
        background-size: cover;
    }
    
    .container {
        width: 100%;
        height: 720px;
    }
    
    .menu-area {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Namecat;
    }
    
    .heading {
        color: #F5761A;
        margin: 2rem;
        font-size: 7rem;
    }
    
    .menu-head {
        font-size: 5.5rem;
        color: #f2Af13;
        margin-bottom: 2rem;
    }
    
    .button {
        width: 9rem;
        height: 4rem;
        background-image: linear-gradient(to right bottom, #F5761A, #F2af13);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }
    
    a::after {
        color: white;
        text-decoration: none;
    }
    /*-------------- game styling---------*/
    
    .game-area {
        height: 900px;
        display: grid;
        grid-template-columns: 45% 10% 45%;
    }
    
    .count {
        display: grid;
        place-items: center;
    }
    
    .number {
        font-size: 5.5rem;
        font-family: Namecat;
        color: #F5761A;
    }
    
    .id {
        text-align: center;
        font-size: 5.5rem;
        font-family: Namecat;
        color: #F5761A;
    }
    
    .score {
        text-align: center;
        font-size: 4rem;
        font-family: Namecat;
        color: #F2af13;
    }
    
    .player {
        display: grid;
        grid-template-rows: 15% 70% 15%;
    }
    
    .computer {
        display: grid;
        grid-template-rows: 15% 70% 15%;
    }
    
    .buttons {
        width: 7rem;
        height: 3.5rem;
        background-image: linear-gradient(to right bottom, #f5761a, #f2af13);
        font-family: Namecat;
        border-radius: 10px;
        margin: 1rem;
    }
    
    .choice {
        display: flex;
        justify-content: center;
    }